<connectionStrings>
	<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-CSharpStore-20131119102907.mdf;Initial Catalog=aspnet-CSharpStore-20131119102907;Integrated Security=True"
	providerName="System.Data.SqlClient" />
	<add name="CSharpStore"
	connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\csharpstore.mdf;Integrated Security=True"
	providerName="System.Data.SqlClient" />
</connectionStrings>